@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

$greyFont: #B8B8B8;
$greyBackgDark: #252727;
$greyBackgLight: #303031;
$greayGradient: #067778;



@font-face {
    font-family: 'GilroyBold';
    src: url('./src/fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'GilroyLight';
    src: url('./src/fonts//Gilroy-Light.ttf') format('truetype');
}


*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0px;
    border: 0px;
}


#blue__btn {
    color: #000;
}

@media (max-width:420.999px) {
    body {
        background-color: #0B0B0D;
        color: white;
        font-family: 'GilroyLight', sans-serif;
    }

    .wrapper {
        position: relative;
        background-color: #0B0B0D;
        overflow: hidden;


        &::before {
            // z-index: 2;
            position: absolute;
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            top: 0;
            margin-right: -40px;
            overflow: hidden;
            right: -20px;
            content: '';
            background-image: url(./src/img/Vector.png);
        }
    }

    .header {
        padding: 0px 20px;
        padding-top: 20px;
        text-align: center;

        &__title {
            p {
                font-size: 12px;
                color: $greyFont;
                padding-bottom: 20px;
            }

            h1 {
                color: #fff;
                font-size: 18px;
                font-weight: bold;

                span {
                    font-weight: bold;
                    font-size: 32px;
                    text-transform: uppercase;
                    font-family: 'GilroyBold', sans-serif;
                }
            }
        }
    }


    .content {
        position: relative;
        // z-index: 10;
        padding: 0px 20px;

        &__man {
            background-image: url(./src/img/man2.png);
            height: 375px;
            position: relative;
            background-repeat: no-repeat;
            background-position: right;
            // overflow: hidden;

            &::before {
                content: "";
                position: absolute;
                width: 500px;
                height: 100%;
                left: -30px;
                bottom: 0px;
                -webkit-box-shadow: 0px -21px 5px -5px rgba(11, 11, 13, 0.96) inset;
                -moz-box-shadow: 0px -21px 5px -5px rgba(11, 11, 13, 0.96) inset;
                box-shadow: 0px -21px 5px -5px rgba(11, 11, 13, 0.96) inset;
            }


            .livet {
                position: absolute;

            }



            .livet1 {
                animation-name: livet1;
                animation-duration: 1.5s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: linear;
                top: 70px;
                left: 0px;
            }

            @keyframes livet1 {

                0% {
                    top: 70px;
                }

                100% {
                    top: 85px;
                }
            }

            .livet2 {
                animation-name: livet2;
                animation-duration: 3s;
                animation-iteration-count: infinite;
                animation-direction: alternate;
                animation-timing-function: linear;
                top: 292px;
                right: 15px;
            }

            @keyframes livet2 {

                0% {
                    top: 292px;
                }

                100% {
                    top: 307px
                }
            }

        }

        &__text {
            position: absolute;
            width: 236px;
            height: 205px;
            background-image: url(./src/img/fon.png);
            font-size: 14px;
            top: 135px;
            left: -20px;

            p {
                position: relative;
                top: 53px;
                left: 35px;
                // border-radius: 10px;
                width: 172px;

            }
        }

        &__cards {
            padding-top: 5px;

            display: flex;
            justify-content: space-between;

            p {
                padding: 5px;
            }
        }

        &__card {
            -webkit-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.45);
            -moz-box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.45);
            box-shadow: 0px 5px 10px 2px rgba(0, 0, 0, 0.45);
            width: 112px;
            border-radius: 10px;
            background-color: #252727;
            font-size: 10px;
            // padding: 5px;
            color: $greyFont;

            &:nth-child(2) {
                margin: 0px 10px;
            }

            span {
                font-size: 12px;
                font-family: GilroyLight, sans-serif;
            }
        }

        &__card-text {
            color: #fff;
            padding: 5px;
            padding-top: 8px;
            -webkit-box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.73);
            -moz-box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.73);
            box-shadow: 0px 5px 8px -5px rgba(0, 0, 0, 0.73);
            width: 112px;
            position: relative;
            border-radius: 10px;

            div {
                position: absolute;
                bottom: 5px;
                right: 7px;
                font-size: 6px;
                border-radius: 50%;
                border: 1px solid #fff;
                padding: 3px;
                width: 15px;
            }
        }

        &__btn {
            .btn {
                padding-bottom: 30px;
                display: flex;
                justify-content: center;

                @-webkit-keyframes move-light {
                    0% {
                        left: -100%;
                        opacity: 0.5;
                    }

                    50% {
                        left: 50%;
                        opacity: 1;
                    }

                    100% {
                        left: 200%;
                        opacity: 0.5;
                    }
                }

                @keyframes move-light {
                    0% {
                        left: -100%;
                        opacity: 0.5;
                    }

                    50% {
                        left: 50%;
                        opacity: 1;
                    }

                    100% {
                        left: 200%;
                        opacity: 0.5;
                    }
                }

                button {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    -webkit-align-items: center;
                    align-items: center;
                    width: -webkit-max-content;
                    width: -moz-max-content;
                    width: max-content;

                    font-weight: 600;
                    font-size: 18px;
                    color: #fff;
                    text-transform: uppercase;
                    background-color: #10FFFF;
                    padding: 35px 57px;
                    border-radius: 10px;


                    outline: none;
                    position: relative;
                    overflow: hidden;

                    -webkit-box-shadow: 0px -1px 30px 10px rgba(255, 255, 255, 0.28);
                    -moz-box-shadow: 0px -1px 30px 10px rgba(255, 255, 255, 0.28);
                    box-shadow: 0px -1px 30px 10px rgba(255, 255, 255, 0.28);
                }

                button:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 20px;
                    height: 100%;
                    background-color: rgba(255, 255, 255, 0.6);
                    -webkit-transform: translateX(0em) skewX(-45deg);
                    -ms-transform: translateX(0em) skewX(-45deg);
                    transform: translateX(0em) skewX(-45deg);
                    -webkit-animation: move-light 1.5s linear infinite;
                    animation: move-light 1.8s linear infinite;

                }

                button:hover {
                    background-color: #10FFFF;
                    color: #fff;
                }

                // button::after {
                //     content: '';
                //     position: absolute;
                //     top: -50%;
                //     right: -50%;
                //     bottom: -50%;
                //     left: -50%;
                //     background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255, 255, 255, 0.5) 50%, #10ffff07);
                //     transform: rotateZ(60deg) translate(-5em, 7.5em);
                // }

                // button:after,
                // button:after {
                //     animation: sheen 1.5s forwards;
                //     animation-iteration-count: infinite;
                //     animation-fill-mode: forwards;

                // }

                // @keyframes sheen {
                //     100% {
                //         transform: rotateZ(60deg) translate(1em, -9em);
                //     }
                // }

                // button {
                //     width: 100%;
                //     -webkit-box-shadow: 0px -1px 30px 10px rgba(255, 255, 255, 0.28);
                //     -moz-box-shadow: 0px -1px 30px 10px rgba(255, 255, 255, 0.28);
                //     box-shadow: 0px -1px 30px 10px rgba(255, 255, 255, 0.28);
                //     background-color: #10FFFF;
                //     color: #fff;
                //     font-size: 16px;
                //     border-radius: 0.5em;
                //     padding: 0 1em;
                //     position: relative;
                //     overflow: hidden;
                //     line-height: 32px;
                //     padding: 35px 57px;
                //     font-family: 'GilroyBold', sans-serif;
                //     font-weight: bold;
                // }



            }
        }

        &__info {
            margin-bottom: 30px;
            padding: 10px;
            font-size: 10px;

            h4 {
                padding-bottom: 10px;
                color: #fff;
                font-size: 14px;
                font-weight: bold;
            }

            border-radius: 10px;
            background-color: $greyBackgDark;
        }

        &__info-logo {
            padding-right: 0px;
            overflow: hidden;
            width: 46%;

            h2 {
                color: transparent;
                -webkit-text-stroke-width: 0.5px;
                -webkit-text-stroke-color: #fff;
                font-size: 42px;
                font-weight: bold;
                font-family: 'Bebas Neue', sans-serif;
                transform: scale(0.53, 1.1);
             
                display: inline-block;
                position: relative;
                top: -5px;
                left: -50px;
               
            }
        }

        &__info-list {
            background-color: #303031;
            border-radius: 10px;
            padding: 5px;

            ul {
                padding-left: 10px;
                font-size: 11px;
            }
        }
    }

    .timer {
        text-align: center;
        color: $greyFont;
        font-size: 12px;
        padding: 20px 0px;
    }

    .info {

        &__inner {
            display: flex;

            .tg {
                background-color: #303031;
                border-radius: 5px;
                padding: 5px;
                display: flex;
                max-width: 70px;
                justify-content: space-between;

                img {
                    width: 10px;
                    height: 10px;
                }

                a {
                    text-decoration: none;
                    color: $greyFont;
                }
            }
        }
    }

    .footer {
        padding: 20px 20px;
        background-color: black;
        color: #ecebeb;
        text-align: center;
        font-size: 10px;

        &__text {
            p {
                padding-bottom: 30px;
            }

            ul {
                list-style: none;
                padding: 0px;
            }
        }
    }

    // FORM----------------------
    .body {
        background-color: #fff;
    }

    .header__form {
        background-color: #0B0B0D;
        padding-bottom: 30px;
    }

    .content_form {
        color: black;
        background-color: #fff;
        padding: 0px 20px;

        input {
            width: 100%;
            background-color: #fff;
            border: 1px solid black;
            padding: 10px;
            border-radius: 5px;
            outline: 0px;
            height: 51px;

            &:focus {
                outline: 0px;
            }
        }

        button {
            width: 100%;
            background-color: #0B0B0D;
            color: #fff;
            height: 51px;
            border-radius: 5px;
        }
    }

    .form {

        &__block {
            padding-bottom: 30px;

            &:nth-child(1) {
                padding-top: 30px;
            }
        }
    }

}